:root {
  --333: #333333;
  --fff: #ffffff;
  --7A1B17: #7A1B17;
  --black-100: #00000070;
  --12: 12px;
  --13: 13px;
  --16: 16px;
  --18: 18px;
  --22: 22px;
  --26: 26px;
  --30: 30px;
  --36: 36px;
  --40: 40px;
}
